/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --darkergrey: rgb(44,44,44);
  --oxford: #0B0B32; 
  --teal: #81b4c5;
  --green:#72A06A;
  --brown:#ffa070;
  --pink:#deced2;
  --primary-font:"Poppins",sans-serif; 
  --secondary-font:"Nunito",sans-serif;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}


html,body {
  margin: 0;
  padding: 0;
  height:100%;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color:var(--oxford);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--pink);
  text-shadow:1px 1px 1px var(--oxford);
}

.u-websiteBackground{
  background-color:var(--pink);
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
}

.u-header{
  background-color: var(--green);
  width:25vw;
  border-bottom-right-radius:8px;
  padding:18px;
  border-right: 1px solid var(--oxford);
  border-bottom: 1px solid var(--oxford);
  box-shadow: 1px 1px 3px var(--oxford);
}

.u-title{
  color: var(--pink);
  text-align:center;
  font-size:36px;
  font-family: var(--primary-font);
}

.u-container{
  padding:var(--l);
  background-color: var(--green);
  border-radius: 16px;
  margin:16px 15% 16px 15%;
  outline: var(--oxford) solid 3px;
  box-shadow: 3px 3px 5px var(--oxford);
}

.u-name{
  color:var(--green);
  font-size:48px;
  font-family: var(--primary-font);
  text-align:center;
  padding:16px;
  text-shadow: -1px -1px 0 var(--oxford), 1px -1px 0 var(--oxford), -1px 1px 0 var(--oxford), 1px 1px 0 var(--oxford);

}
