@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.EditPage-field{
    margin:16px;
    font-family: var(--secondary-font);
    font-size:24px;
    color:var(--darkergrey);
}

.EditPage-input{
    background-color:var(--pink);
    float:right;
    width:60%;
    border-radius:6px;
    font-size:24px;
    font-family: var(--secondary-font);
    border: 2px solid var(--oxford);
}

.EditPage-button{
    cursor:pointer;
    border-radius: 6px;
    background-color:var(--pink);
    font-family:var(--secondary-font);
    font-size:14px;
    border: 2px solid var(--oxford);
}

.EditPage-button:hover{
    background-color:var(--teal);
}