@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.Messages-flexContainer{
    display:flex;
}

.Messages-header{
    background-color: var(--green);
    width:30vw;   
    padding:18px;
    border-right: 1px solid var(--oxford);
    box-shadow: 1px 1px 3px var(--oxford);
}

.Messages-chatList{
    padding:24px;
    height:75vh;
    background-color:var(--green);
    border-bottom-right-radius: 12px;
    border: var(--oxford) solid 1px;
    border-top:hidden;
    border-left:hidden;
    box-shadow: 1px 1px 3px var(--oxford);
}

.Messages-selector{
    padding: 36px 8px 36px 8px;
    margin:0px 24px 0px 24px;
    border: 1px solid var(--oxford);
    background-color:var(--pink);
    font-size:24px;
    font-family: var(--secondary-font);
    text-align:center;
    font-weight:500;
    color:var(--oxford);
    border-radius: 6px;
}

.Messages-selector:hover{
    cursor:pointer;
    background-color:var(--teal);
}

.Messages-sidebar{
    flex: 1 1 100px;
}

.Messages-chats{
    flex: 3 3 100px;
    justify-content: right;
}