
.Navbar-container{
    background-color: var(--teal);
    border-bottom:1px solid black;
    padding:32px;
    margin:0;
}

.Navbar-title{
    color: var(--oxford);
    padding: var(--l);
    font-size:28px;
    font-family: var(--primary-font);
    font-weight:600;
}

.Navbar-link{
    color: var(--oxford);
    padding:var(--l);
    font-size:24px;
    font-family:var(--primary-font);
}

.Navbar-login{
    float: right;
}