@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


.Profile-aboutBody{
    font-size:24px;
    font-family: var(--secondary-font);
    color:var(--darkergrey);
    margin:16px;
}

.Profile-line{
    margin:16px;
}

.Profile-editButton{
    border-radius:8px;
    background-color:var(--green);
    font-family:var(--secondary-font);
    margin-left:16px;

}
