
.Chat-header{
    padding:24px;
    border: 1px solid var(--oxford);
    text-align: center;
}

.Chat-name{
    cursor:pointer;
}

.Chat-messages{
    display:flex;
    flex-direction: column;
    overflow:scroll;
    height:calc(100vh - 320px);
    border-bottom: 1px solid var(--oxford);
}

.Chat-messages > *{
    flex: 0 0 auto;
}

.Chat-noMessages{
    padding: 8px 16px 8px 32px;
    color:var(--oxford);
    font-size:20px;
    font-family:var(--secondary-font);
}

.Chat-messageUnit-me{
    margin-right:16px;
    cursor:default;
    display:flex;
    flex-direction: row-reverse;
}

.Chat-messageUnit-other{
    margin-left:16px;
    cursor:default;
    display:flex;
    justify-content: flex-start;
}

.Chat-messageBody-me{
    background-color:var(--teal);
    color:var(--oxford);
    padding: 8px 16px 8px 16px;
    font-size:20px;
    font-family:var(--secondary-font);
    border-radius: 6px;
}

.Chat-messageSender-me{
    color:var(--brown);
    font-family: var(--secondary-font);
    font-size:16px;
    padding:8px;
    display: none;
}

.Chat-messageBody-me:hover + .Chat-messageSender-me{
    display:inline;
}

.Chat-messageBody-other{
    background-color:var(--green);
    color:var(--oxford);
    padding: 8px 16px 8px 16px;
    font-size:20px;
    font-family:var(--secondary-font);
    border-radius: 6px;
}

.Chat-messageSender-other{
    color:var(--brown);
    font-family: var(--secondary-font);
    font-size:16px;
    padding:8px;
    display: none;
}

.Chat-messageBody-other:hover + .Chat-messageSender-other{
    display:inline;
}

.Chat-sendBody{
    position:fixed;
    bottom:32px;
    left:35vw;
}
.Chat-input{
    border-radius: 8px;
    border: 2px solid var(--oxford);
    width:50vw;
    height:36px;
    font-size:27px;
    font-family:var(--secondary-font);
}

.Chat-submit{
    background-color: var(--green);
    border: 2px solid var(--oxford);
    color:var(--pink);
    border-radius:8px;
    cursor:pointer;
    width:10vw;
    height:36px;
    font-family: var(--secondary-font);
    text-align:center;
    font-size:18px;
}

.Chat-return{
    margin:36px;
    background-color: var(--green);
    border: 2px solid var(--oxford);
    color:var(--oxford);
    border-radius:8px;
    cursor:pointer;
    width:20vw;
    height:36px;
    font-family: var(--secondary-font);
    text-align:center;
    font-size:18px;
}

.Chat-submit:hover,.Chat-return:hover{
    background-color: var(--teal);
}
